<nav>
  <h3>Firebase Database</h3>
</nav>


<div id="container">
  <div class="card" *ngFor="let c of listOfCinemas | async">
    <h3>{{c.key}}</h3>

    <span>Category : {{c.category}}</span>
    <span>Age : {{c.age}}</span>

    <span>Dislikes : {{c?.dislikes}}</span>
    <span>Likes : {{c?.likes}}</span>

    <span>Total Likes and dislikes : {{c?.likesOrDislikes}}</span>

    <button (click)="dislikes(c.key)">Dislike</button>
    <button (click)="addLikes(c.key)">Like</button>

  </div>
</div>
